{{ form_start(form) }}
    {{ form_row(form.patient) }}
 {{ form_row(form.dateRdv) }}
 {{ form_row(form.description) }}
    <button class="btn">{{ button_label|default('Save') }}</button>
{{ form_end(form) }}
