{{ form_start(form) }}
    {{ form_row(form.libelle) }}
{{ form_row(form.code) }}
{{ form_row(form.prix) }}

<h5 class="sub-title"></h5>
    <button class="btn btn-success">{{ button_label|default('Save') }}</button>
{% if form.saveAndCreateNew %}
    {{ form_widget(form.saveAndCreateNew, {label: 'save and create_new', attr: {class: 'btn btn-primary'}}) }}
{% endif %}
{{ form_end(form) }}
