{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('datatable/datatables.min.css') }}">
{% endblock %}
{% block title %}Patient index{% endblock %}

{% block body %}

    <!-- Main-body start -->
    <div class="main-body">
        <div class="page-wrapper">
            <!-- Page-header start -->
            <div class="page-header card">
                <div class="row align-items-end">
                    <div class="col-lg-8">
                        <div class="page-header-title">
                            <i class="icofont icofont-layout bg-c-blue"></i>
                            <div class="d-inline">
                                <h4>Actes medicaux</h4>
                                <span></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="page-header-breadcrumb">
                            <ul class="breadcrumb-title">
                                <li class="breadcrumb-item">
                                    <a href="{{ path('homepage') }}">
                                        <i class="icofont icofont-home"></i>
                                    </a>
                                </li>
                                <li class="breadcrumb-item"><a
                                            href="{{ path('entity_acte_medical_index') }}">Actes medicaux</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Page-header end -->
            <!-- Page-body start -->
            <div class="page-body">
                <!-- Basic table card start -->
                <div class="card">
                    <div class="card-header">
                        <a class="btn btn-success" href="{{ path('entity_acte_medical_new') }}"><i
                                    class="icofont icofont-plus"></i> Nouveau</a>
                        <div class="card-header-right">
                            <ul class="list-unstyled card-option">
                                <li><i class="icofont icofont-simple-left "></i></li>
                                <li><i class="icofont icofont-maximize full-card"></i></li>
                                <li><i class="icofont icofont-minus minimize-card"></i></li>
                                <li><i class="icofont icofont-refresh reload-card"></i></li>
                                <li><i class="icofont icofont-error close-card"></i></li>
                            </ul>
                        </div>
                    </div>
                    <div class="card-block table-border-styl">
                        <div class="table-responsive">

                            <table class="table" id="table_acte_medical">
                                <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>Code</th>
                                    <th>Libelle</th>
                                    <th>Prix</th>
                                    <th>actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for acte_medical in acte_medicals %}
                                    <tr>
                                        <td>{{ acte_medical.id }}</td>
                                        <td>{{ acte_medical.libelle }}</td>
                                        <td>{{ acte_medical.code }}</td>
                                        <td>{{ acte_medical.prix }}</td>
                                        <td>
                                            <a href="{{ path('entity_acte_medical_show', {'id': acte_medical.id}) }}">show</a>
                                            <a href="{{ path('entity_acte_medical_edit', {'id': acte_medical.id}) }}">edit</a>
                                        </td>
                                    </tr>
                                {% else %}
                                    <tr>
                                        <td colspan="5">no records found</td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>

                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {% include 'acte_medical/javascript.html.twig' %}
{% endblock %}