{% extends 'base.html.twig' %}

{% block title %}Ordonnance{% endblock %}

{% block body %}
    <h1>Ordonnance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ ordonnance.id }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ ordonnance.status }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ ordonnance.createdAt ? ordonnance.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('ordonnance_index') }}">back to list</a>

    <a href="{{ path('ordonnance_edit', {'id': ordonnance.id}) }}">edit</a>

    {{ include('ordonnance/_delete_form.html.twig') }}
{% endblock %}
